<div
  class="filepond--root image-resize-filepond filepond--hopper"
  data-style-button-remove-item-position="left"
  data-style-button-process-item-position="right"
  data-style-load-indicator-position="right"
  data-style-progress-indicator-position="right"
  data-style-button-remove-item-align="false"
  style="height: 76px"
>
  <input
    class="filepond--browser"
    type="file"
    id="filepond--browser-m1umt25bb"
    aria-controls="filepond--assistant-m1umt25bb"
    aria-labelledby="filepond--drop-label-m1umt25bb"
    accept="image/png,image/jpg,image/jpeg"
    name="filepond"
  /><a
    class="filepond--credits"
    aria-hidden="true"
    href="https://pqina.nl/"
    target="_blank"
    rel="noopener noreferrer"
    style="transform: translateY(68px)"
    >Powered by PQINA</a
  >
  <div
    class="filepond--drop-label"
    style="transform: translate3d(0px, 0px, 0px); opacity: 1"
  >
    <label
      for="filepond--browser-m1umt25bb"
      id="filepond--drop-label-m1umt25bb"
      aria-hidden="true"
      >Drag &amp; Drop your files or
      <span class="filepond--label-action" tabindex="0">Browse</span></label
    >
  </div>
  <div
    class="filepond--list-scroller"
    style="transform: translate3d(0px, 0px, 0px)"
  >
    <ul class="filepond--list" role="list"></ul>
  </div>
  <div class="filepond--panel filepond--panel-root" data-scalable="true">
    <div class="filepond--panel-top filepond--panel-root"></div>
    <div
      class="filepond--panel-center filepond--panel-root"
      style="transform: translate3d(0px, 8px, 0px) scale3d(1, 0.6, 1)"
    ></div>
    <div
      class="filepond--panel-bottom filepond--panel-root"
      style="transform: translate3d(0px, 68px, 0px)"
    ></div>
  </div>
  <span
    class="filepond--assistant"
    id="filepond--assistant-m1umt25bb"
    role="status"
    aria-live="polite"
    aria-relevant="additions"
  ></span>
  <div class="filepond--drip"></div>
  <fieldset class="filepond--data"></fieldset>
</div>
