@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/*===== BASE =====*/

:root {
  --header-height: 58px;
  --dark-color: #141414;
  --dark-color-light: #8a8a8a;
  --dark-color-lighten: #f2f2f2;
  --white-color: #fff;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
  display: block;
}

svg {
  width: 25px;
  height: 25px;
}

input {
  outline: none;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
}

/*===== CLASS CSS =====*/

.err404-body {
  height: 50vh;
  margin-top: var(--header-height);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.err404 {
  font-size: 70px;
  text-align: center;
}

.err404-msg {
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}

/*----- header -----*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 2;
  border-bottom: 1px solid #ececec;
  display: flex;
  background-color: var(--white-color);
}

/*----- nav -----*/
.header .nav {
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  align-items: center;
  transition: all ease-in-out 0.3s;
  height: 100%;
  align-items: center;
  padding: 0 2%;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

@media (min-width: 1200px) {
  .header .nav {
    padding: 0 5%;
  }
}

.header .nav__logo a,
.header .side__nav-header a {
  font-size: 1.6rem;
  font-weight: 700;
}

#side__toggle-btn,
.header .side__nav {
  display: none;
}

.header .nav__left {
  display: grid;
  place-content: center;
}

.header .nav__right,
.header .nav__left-items {
  display: flex;
}

.header .nav__left a {
  display: block;
  font-size: 1.4rem;
  text-align: center;
  padding: 12px 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  margin: 0 15px;
  font-weight: 700;
  position: relative;
}

.header .nav__left a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all ease-in-out 0.3s;
  width: 0%;
  height: 3px;
  background-color: #000000;
}

.header .nav__left a:hover::after {
  width: 100%;
}

#user-btn svg {
  width: 29px;
  height: 29px;
}

.header .nav__right div {
  transition: all ease-in-out 0.3s;
  border-radius: 4px;
  position: relative;
  display: grid;
  place-content: center;
  padding: 8px;
  white-space: nowrap;
}

.header .nav__right div:hover,
.header .nav__right div.active {
  background-color: rgba(241, 241, 241, 0.6);
}

.header .nav__right #cart-btn {
  position: relative;
}

.header .nav__right #cart-btn span {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  bottom: 4px;
  right: 2px;
  min-width: 20px;
  min-height: 20px;
  border-radius: 50%;
  background: rgba(228, 51, 51);
  color: #fff;
  line-height: 20px;
  text-align: center;
}

/* -----nav mobile ----- */
@media (max-width: 739px) {
  .header .nav {
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .header .nav__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #user-btn {
    display: none;
  }

  #side__toggle-btn,
  .header .side__nav {
    display: block;
  }

  .header .nav__left-items {
    display: none;
  }

  .header .side__nav {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 2;
    inset: 0;
    top: 20%;
    background-color: rgba(255, 255, 255, 0.95);
    transition: all 0.4s;
  }

  .header .side__nav.active {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  .header .side__nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ececec;
  }

  .header .side__nav-close svg {
    width: 18px;
  }

  .header .nav__mobile a {
    display: block;
    padding: 20px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    color: #191919;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    border-bottom: 1px solid #ececec;
  }

  .header .side__nav-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
  }

  .header .side__nav-footer h2 {
    border-top: 1px solid #f1f1f1;
    padding: 15px 20px;
    font-size: 1rem;
    text-align: center;
  }
}

/* ----- search ----- */
.search__container {
  box-shadow: 1px 5px 4px #f1f1f1;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
  position: fixed;
  top: 20%;
  height: calc(100% - var(--header-height));
  z-index: 3;
  transition: all 0.4s;
}

.search__container.active {
  top: var(--header-height);
  opacity: 1;
  visibility: visible;
}

.search__header {
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  grid-gap: 10px;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 700;
  padding: 10px 15px;
  text-transform: uppercase;
  border-bottom: thin solid #f1f1f1;
  background-color: #ffffff;
}

.search__close-btn {
  cursor: pointer;
}

.empty-msg {
  font-size: 1.8rem;
  text-align: center;
  margin-top: 100px;
  grid-area: 1/1/2/4;
}

.search__container .search__input {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  margin-top: 20px;
}

.search__container .search__input input {
  border: 1px solid #aeaeae;
  border-radius: 2px;
  width: 50%;
  padding: 10px;
}

.related__product {
  padding: 20px 14px;
}

.related__product h3 {
  font-size: 2rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 16px;
}

.search__container .related__product .related__product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
  grid-gap: 20px;
  overflow: auto;
  max-height: 62vh;
  padding: 0 6px 24px;
}

.product {
  transition: all 0.5s;
}

.product .thumbnail a {
  display: block;
  padding-top: 125%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(241, 241, 241, 0.6);
  transition: all 0.5s;
}

.product:hover {
  transform: translateY(-4px);
}

.product:hover .thumbnail a {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
}

.product .price {
  font-size: 1.3rem;
  margin-top: -2px;
  font-weight: 600;
}

.product .name {
  font-size: 1.4rem;
  word-break: break-word;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 700;
}

.product .color {
  margin-top: -2px;
  margin-bottom: 4px;
  font-size: 1.3rem;
  font-weight: 600;
}

/*----- search mobile ----- */
@media (max-width: 739px) {
  .search__container .search__input input {
    width: 80%;
  }

  .search__container .related__product .related__product-list {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

/* ----- user container ----- */
.user__container {
  opacity: 0;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%;
  position: fixed;
  z-index: 3;
  right: -20%;
  top: var(--header-height);
  box-shadow: -2px 2px 8px 3px #f1f1f1;
  background-color: #ffffff;
  transition: all 0.4s;
  padding: 20px 0;
  border-radius: 0 0 0 4px;
}

.user__container.active {
  opacity: 1;
  visibility: visible;
  right: 0;
}

.user__container a {
  display: flex;
  font-size: 1.6rem;
  font-weight: 600;
  padding: 6px 0;
  align-items: center;
  width: 90%;
  margin-bottom: 2px;
  border-radius: 4px;
  transition: all 0.5s;
}

.user__container a:hover {
  background-color: rgba(241, 241, 241, 0.6);
}

.user__container a svg {
  width: 60px;
  opacity: 0.6;
}

/* ----- cart ----- */

.cart__container {
  opacity: 0;
  visibility: hidden;
  width: 25%;
  position: fixed;
  z-index: 3;
  right: -20%;
  top: 0;
  transition: all 0.4s;
}

.cart__container.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}

.cart__container .mini__cart {
  background-color: #ffffff;
  box-shadow: -2px 2px 8px 3px #f1f1f1;
  border-radius: 0 0 0 4px;
}

.cart__container .mini__cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 1px solid #f1f1f1;
}

.cart__container .mini__cart-header h5 {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart__container .mini__cart ul {
  width: 100%;
  padding: 20px 0;
  max-height: 40vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.cart__container .mini__cart ul li {
  display: grid;
  grid-template-columns: 20% 1fr 15%;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  align-items: self-start;
  padding: 5px;
  position: relative;
  margin: 10px;
}

.mini__cart .product__thumbnail {
  display: block;
  width: 100%;
  padding-top: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mini__cart ul h6 {
  font-size: 1.4rem;
}

.mini__cart .product__variation {
  color: #aeaeae;
  font-size: 1rem;
  display: block;
}

.mini__cart li strong {
  margin-bottom: 5px;
  font-size: 1.4rem;
}

.mini__cart .add__product {
  display: flex;
  align-items: center;
}

.mini__cart .add__product button {
  background-color: transparent;
  border: transparent;
  padding: 6px 12px;
  font-size: 1.8rem;
}

.mini__cart .add__product input {
  border: 1px solid #aeaeae;
  border-radius: 4px;
  width: 60px;
  padding: 5px;
  text-align: center;
}

.add__product input::-webkit-outer-spin-button,
.add__product input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.add__product input[type="number"] {
  -moz-appearance: textfield;
}

.mini__cart .clear__product {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.3;
  padding: 10px;
}

.mini__cart .clear__product svg {
  width: 14px;
  height: 14px;
}

.mini__cart .total__cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
}

.mini__cart .total__cart p {
  font-size: 1.6rem;
  font-weight: 700;
  margin-right: 15px;
}

.mini__cart .total__cart strong {
  font-size: 1.8rem;
  font-weight: 700;
}

.mini__cart .total__cart small {
  font-size: small;
  font-weight: 700;
  color: #808080;
}

.mini__cart .cart__btn {
  padding: 10px;
}

.mini__cart .cart__btn button {
  box-shadow: 1px 1px 5px #f1f1f1;
  transition: all ease-in-out 0.3s;
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}

.mini__cart .cart__btn button:hover {
  opacity: 0.85;
}

@media (min-width: 1024px) {
  .cart__container {
    top: 58px;
    bottom: auto;
  }
}

/* ----- cart mobile ----- */
@media (max-width: 739px) {
  .cart__container {
    width: 100%;
    height: 100%;
  }

  .cart__container .mini__cart {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .cart__container .mini__cart ul {
    max-height: 60vh;
    margin-bottom: auto;
  }
}

/* ===== MODAL =====*/
.modal {
  opacity: 0;
  visibility: hidden;
  display: flex;
  position: fixed;
  inset: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  transition: all 0.3s;
}

.modal.active {
  z-index: 20;
  opacity: 1;
  visibility: visible;
}

.modal-content {
  min-height: 350px;
  max-width: 800px;
  padding: 25px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
}
.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  font-size: 3rem;
  color: var(--dark-color-light);
  cursor: pointer;
}
/* ===== LOGIN =====*/

.login,
.register {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.register.active,
.login.active {
  display: flex;
}

.register h2,
.login h2 {
  font-size: 2.8rem;
  padding: 34px 0 24px;
}

.register form,
.login form {
  width: 100%;
  padding: 0 24px;
}

.register input,
.login input {
  display: block;
  border: none;
  background-color: var(--dark-color-lighten);
  margin-top: 12px;
  padding: 16px;
  outline: none;
  border-radius: 8px;
  width: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  position: relative;
}

.register input::-webkit-input-placeholder,
.login input::-webkit-input-placeholder {
  color: #aeaeae;
}

.register input::-moz-placeholder,
.login input::-moz-placeholder {
  color: #aeaeae;
}

.register input:-ms-input-placeholder,
.login input:-ms-input-placeholder {
  color: #aeaeae;
}

.register input::-ms-input-placeholder,
.login input::-ms-input-placeholder {
  color: #aeaeae;
}

.register input::placeholder,
.login input::placeholder {
  color: #aeaeae;
}

.register .form-group,
.login .form-group {
  position: relative;
}

.register .form-group .toggle-password,
.login .form-group .toggle-password {
  position: absolute;
  top: 25px;
  right: 8px;
  transform: translateY(-50%);
  font-weight: 600;
  opacity: 0.6;
  padding: 10px;
  cursor: pointer;
  font-size: 1.8rem;
}

.login .forgot-password {
  display: block;
  text-align: right;
  margin-top: 12px;
  font-size: 1.4rem;
}

.button {
  display: inline-block;
  padding: 1.8rem 3.2rem;
  border-radius: 0.8rem;
  border: none;
  background-color: var(--dark-color);
  color: #fff;
  transition: 0.5s;
}

.button:hover {
  transform: translateY(-0.4rem);
}

.register button,
.login button {
  width: 100%;
  margin-top: 24px;
  font-size: 1.6rem;
  font-weight: 600;
}

.col-4-6 {
  display: grid;
  grid-template-columns: 39% 58%;
  -moz-column-gap: 3%;
  column-gap: 3%;
}

.register__login,
.login .login__register {
  margin-top: 32px;
  font-size: 1.4rem;
}

.register__login a,
.login .login__register a {
  font-weight: 700;
}

.is-invalid {
  border: 1px solid red !important;
}

.invalid-feedback {
  font-size: 1.2rem;
  color: red;
  font-weight: 600;
  margin: 2px 0;
}

/* ===== banner ===== */
.home .slide__banner {
  margin-bottom: 64px;
  margin-top: var(--header-height);
}

.home .slide__banner .glide__slide a {
  display: block;
  padding-top: 44.44444%;
  /* height: calc(100vh - var(--header-heighty)); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (max-width: 739px) {
  .home .slide__banner .glide__slide a {
    padding-top: 125%;
  }
}

/* ===== section ===== */

.home .section {
  padding: 25px 18px;
}

.home .section h2 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 739px) {
  .home .section {
    padding: 25px 10px;
  }
  .home .section h2 {
    font-size: 3.2rem;
  }
}

@media (min-width: 1024px) {
  .home .section {
    padding: 5%;
  }

  .home .section h2 {
    font-size: 4.2rem;
  }
}

.home .section .gender__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.home .section .gender__toggle button {
  font-size: medium;
  text-align: center;
  font-weight: 600;
  border: thin solid transparent;
  background-color: transparent;
  margin: 0 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.home .section .gender__toggle button::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #c1272d;
  border-radius: 50px;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}

.home .section .gender__toggle button::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 0%;
  height: 3px;
  background-color: #000000;
  border-radius: 4px;
  transition: all ease-in-out 0.3s;
}

.home .section .gender__toggle button:hover::after {
  width: 100%;
}
.home .section .gender__toggle button.active::after {
  width: 100%;
}
.home .section .gender__toggle button.active::before {
  opacity: 1;
}

.product .detail {
  margin-top: 10px;
}

.section .glide__slides {
  padding-top: 5px;
}

/* ===== SEASON SECTION ===== */
.season__slide {
  background-color: #adbabf;
  color: var(--white-color);
}

.home .season__slide .gender__toggle button {
  color: var(--white-color);
}

.home .season__slide .gender__toggle button::after {
  background-color: var(--white-color);
}

.season__slide .glide__arrow svg {
  width: 50px;
  height: 50px;
  fill: #f1f1f1;
}

.season__slide .glide__arrow {
  border: none;
  box-shadow: none;
}

.season__slide .glide__arrow--cleft {
  left: 1rem;
}

.season__slide .glide__arrow--cright {
  right: 1rem;
}

.season__slide .glide__arrow {
  top: 44.55555%;
}

@media (max-width: 739px) {
  .season__slide .glide__arrow svg {
    width: 25px;
    height: 25px;
  }

  .season__slide .glide__arrow--cleft {
    left: 0;
  }

  .season__slide .glide__arrow--cright {
    right: 0;
  }

  .season__slide .glide__arrow {
    top: 43%;
  }
}

.featured__section .featured__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23%, 1fr));
  grid-gap: 2rem;
}

@media (max-width: 739px) {
  .featured__section .featured__list {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
}

/*===== FOOTER =====*/
.footer {
  background-color: #f7f7f7;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  -moz-column-gap: 3.2rem;
  column-gap: 3.2rem;
}

.footer__box {
  margin-bottom: 32px;
}

.footer__title {
  font-size: 1.8rem;
  margin-bottom: 6px;
}

.footer__box p,
.footer__box li a {
  font-size: 1.3rem;
  font-weight: 600;
  color: #b4b1b3;
}

.footer__link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 8px;
}

.footer__social {
  font-size: 2.4rem;
  margin-right: 2rem;
}

/* ===== Detail ===== */
.detail-layout {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: var(--header-height);
  margin-bottom: 64px;
}

.detail-layout .gallery {
  grid-area: 1/1/2/5;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery .gallery__picture {
  background-color: var(--dark-color-lighten);
  padding-top: 132%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-layout .description {
  padding-bottom: 64px;
  grid-area: 2/1/3/5;
}
.detail-layout .description h2 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  margin-top: 40px;
  text-align: center;
  text-transform: uppercase;
}

.detail-layout .variation {
  grid-area: 1/5/3/7;
  padding: 0 40px;
}

.detail-layout .variation__body {
  position: -webkit-sticky;
  position: sticky;
  top: var(--header-height);
  padding-top: 32px;
}

.detail-layout .info h1 {
  font-size: 2rem;
  text-transform: uppercase;
  opacity: 0.6;
}

.detail-layout .info h2 {
  margin-top: -4px;
  font-size: 2.6rem;
  font-weight: 600;
}

.detail-layout .colors {
  margin-top: 42px;
}

.detail-layout .colors > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 80px));
  gap: 14px;
}

.detail-layout .colors > p,
.detail-layout .sizes > p {
  font-size: 1.6rem;
  font-weight: 600;
  opacity: 0.8;
  margin-bottom: 6px;
}

.detail-layout .color__variation {
  border: 2px solid transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.detail-layout .color__variation,
.detail-layout .size__variation {
  border-radius: 5px;
  transition: all 0.4s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.detail-layout .color__variation.active {
  border: 2px solid #333;
}

.detail-layout .color__variation:hover,
.detail-layout
  .size__variation:not(.detail-layout .size__variation.disabled):hover {
  -webkit-filter: brightness(0.85);
  filter: brightness(0.85);
  transform: translate(-50%, calc(-50% + 1px));
}

.detail-layout .colors li,
.detail-layout .sizes li {
  padding-top: 100%;
  position: relative;
}

.detail-layout .sizes {
  margin-top: 28px;
}

.detail-layout .sizes > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 50px));
  gap: 18px;
}

.detail-layout .size__variation {
  border: 2px solid #f1f1f1;
  background-color: #fff;
  font-size: 1.8rem;
}

.detail-layout .size__variation.active {
  border-color: #333;
}
.detail-layout .size__variation.disabled {
  background-color: #e4e4e4;
  cursor: default;
}

.detail-layout .add-cart {
  transition: all ease-in-out 0.3s;
  width: 100%;
  background-color: #000000;
  color: #fff;
  margin: 40px 0;
  text-transform: uppercase;
  padding: 15px;
  border: thin solid #000000;
  font-size: large;
  cursor: pointer;
  border-radius: 5px;
}

.detail-layout .add-cart:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 768px) {
  .detail-layout .colors > ul {
    grid-template-columns: repeat(auto-fit, minmax(auto, 30%));
  }

  .detail-layout .add-cart {
    font-size: 1.3rem;
  }

  .detail-layout .variation {
    grid-area: 1/5/5/7;
    padding: 0 26px;
  }
}

@media (max-width: 739px) {
  .detail-layout .gallery {
    grid-area: 1/1/2/7;
    display: flex;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
  }

  .detail-layout .gallery .gallery__picture {
    flex: none;
    width: 100%;
    scroll-snap-align: start;
  }

  .detail-layout .description {
    grid-area: 3/1/4/7;
  }

  .detail-layout .variation {
    grid-area: 2/1/3/7;
  }
}

/* ===== CATEGORIES ===== */
.categories-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: var(--header-height);
  row-gap: 20px;
}

.categories-layout .categories__info {
  grid-area: 1/1/2/5;
  padding: 2.5% 5% 0 5%;
}

.categories-layout .categories__info h1 {
  font-size: 2.6rem;
  text-align: start;
  font-weight: bold;
}

.categories-layout .categories__info p {
  margin-top: 10px;
  color: #adadad;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .categories-layout .categories__info p {
    max-width: 50%;
  }
}

.categories-layout .categories__list {
  grid-area: 2/1/3/5;
  padding: 0 5%;
}

.categories-layout .categories__list ul {
  display: grid;
  grid-template-columns: repeat(5, minmax(auto, 18%));
  grid-gap: 10px;
}

.categories-layout .categories__list li {
  font-size: 1.3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.categories-layout .categories__filter {
  grid-area: 3/1/4/2;
  padding-left: 20%;
}

.categories-layout .filter__toggle {
  display: none;
}

.categories-layout .filter__list {
  position: -webkit-sticky;
  position: sticky;
  top: var(--header-height);
  padding-right: 10%;
}

.categories-layout .filter__list--wrapper {
  width: 100%;
  height: calc(100vh - 100px);
  overflow: auto;
  transition: 0.4s;
  padding-right: 10%;
  padding-top: 10px;
  padding-bottom: 40px;
}

.categories-layout .filter__list--wrapper::-webkit-scrollbar {
  width: 4px;
}

.categories-layout .filter__list--wrapper::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 2px;
}
.categories-layout .filter__list--wrapper::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 2px;
}
.categories-layout .filter__list--wrapper:hover::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
}

.categories-layout .filter__list--wrapper > li {
  border-bottom: 1px solid #f1f1f1;
  transition: all ease-in-out 0.3s;
  margin-bottom: 15px;
}

.filter__list li h4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding: 10px 0;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
}
.filter__list h4 svg {
  width: 15px;
  height: 15px;
  fill: #aeaeae;
  transition: all ease-in-out 0.4s;
}

.filter__list--wrapper .sort-item {
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 8px 16px;
  margin-bottom: 4px;
  font-weight: 600;
  border-radius: 6px;
  transition: 0.4s;
  cursor: pointer;
}

.filter__list--wrapper .sub-filter {
  max-height: 0;
  transition: all 0.3s linear;
  overflow: hidden;
}
.filter__list--wrapper .sub-filter.active {
  max-height: 280px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.filter__list--wrapper .sort-item:first-child {
  margin-top: 10px;
}

.filter__list--wrapper .sort-item.active {
  background-color: rgba(120, 146, 184, 0.08);
}

.filter__list--wrapper .color-list,
.filter__list--wrapper .size-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 30px));
  gap: 26px;
  justify-content: center;
}

.filter__list--wrapper .color-list .color {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #f1f1f1;
  position: relative;
  cursor: pointer;
}

.color.black {
  background-color: rgba(0, 0, 0, 0.8);
}
.color.grey {
  background-color: #aeaeae;
}
.color.white {
  background-color: #fff;
}
.color.blue {
  background-color: rgba(0, 38, 255, 0.5);
}
.color.light-blue {
  background-color: rgba(0, 132, 255, 0.5);
}
.color.purple {
  background-color: rgba(174, 0, 255, 0.5);
}
.color.red {
  background-color: rgba(255, 0, 0, 0.5);
}
.color.orange {
  background-color: rgba(255, 110, 14, 0.5);
}
.color.yellow {
  background-color: rgba(255, 230, 0, 0.5);
}
.color.green {
  background-color: rgba(0, 250, 33, 0.5);
}
.color.pink {
  background-color: rgba(255, 0, 119, 0.5);
}
.color.brown {
  background-color: rgba(179, 131, 131, 0.5);
}

.filter__list--wrapper .color-list .color::after {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 0.4s;
}
.filter__list--wrapper .color-list .color.active::after {
  content: "";
  position: absolute;
  inset: -4px;
  z-index: -1;
  border-radius: 50%;
  border: 2px solid rgb(0, 140, 255);
}

.filter__list--wrapper .size-list .size {
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 2px solid #f1f1f1;
  font-size: 1.4rem;
  font-weight: 600;
  justify-content: center;
  display: flex;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
}

.filter__list--wrapper .size-list .size.active {
  border-color: #333;
}

.categories-layout .filter__action {
  display: none;
}

.categories-layout .categories__product-wrapper {
  grid-area: 3/2/4/5;
}

.categories-layout .categories__products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-gap: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
  padding-right: 5%;
}

.categories-layout .filter__toggle .mobile-cate-toggle,
.categories-layout .filter__toggle .mobile-filter {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  text-transform: capitalize;
  padding-block: 8px;
  margin-top: 12px;
  font-weight: 600;
  gap: 8px;
}

.filter__toggle .mobile-filter svg,
.filter__toggle .mobile-cate-toggle svg {
  width: 14px;
}

.filter__list--wrapper .ui-widget.custom-range {
  border: none;
  height: 2px;
  background-color: #eeee;
  margin-inline: 6px;
}

.filter__list--wrapper .ui-widget-header {
  background-color: #333;
}

.filter__list--wrapper .ui-slider-horizontal .ui-slider-handle {
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.filter__list--wrapper .custom-amount {
  font-size: 1.3rem;
  font-weight: 600;
  opacity: 0.8;
  border: none;
  margin-bottom: 10px;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .categories-layout .filter__list--wrapper {
    height: 320px;
    max-height: 80vh;
  }

  .categories-layout {
    margin-bottom: 64px;
  }
}

@media (max-width: 739px) {
  .categories-layout {
    grid-gap: 0;
  }

  .categories-layout .categories__products {
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-right: 0;
  }

  .categories-layout .categories__product-wrapper {
    grid-area: 2/1/3/5;
  }

  .categories-layout .categories__products .product:nth-child(5n + 1) {
    grid-column: 1/3;
  }

  .categories-layout .categories__filter .filter__toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .categories-layout .filter__list .filter__action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5%;
  }

  .categories-layout .filter__list .filter__action button {
    transition: all ease-in-out 0.3s;
    width: 100%;
    color: #000000;
    background-color: #fff;
    text-transform: uppercase;
    padding: 15px;
    border: thin solid #000000;
    font-size: large;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.3rem;
  }

  .categories-layout .categories__filter {
    grid-area: 1/1/2/5;
    padding: 0 15px;
  }

  .categories-layout .categories__filter .filter__list {
    position: fixed;
    width: 100vw;
    bottom: 0;
    top: var(--header-height);
    left: -100vh;
    background: #ffffff;
    z-index: 1;
    transition: all ease-in-out 0.3s;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .categories-layout .categories__filter .filter__list--wrapper {
    padding: 0;
    height: auto;
    margin-top: 15px;
  }

  .categories-layout .filter__list--wrapper h4 {
    padding-inline: 5%;
  }

  .categories-layout .filter__list--wrapper .sub-filter {
    padding-inline: 10%;
  }

  .categories-layout .categories__filter .filter__list.active {
    left: 0;
  }

  .categories-layout .categories__info {
    display: none;
  }

  .categories-layout .categories__list {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    position: absolute;
    top: 100px;
    left: 10px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);
    overflow: auto;
    max-height: 70vh;
    width: max-content;
    padding: 15px 15px 8px;
  }

  .categories-layout .categories__list ul {
    grid-template-columns: 1fr;
  }

  .categories-layout .categories__list.active {
    opacity: 1;
    visibility: visible;
    z-index: 2;
  }
}
